.formContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 350px;
  padding: 15px;
  border: solid 1.5px #0a0a0a;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin: 0 auto;
  margin-top: 34px;
}
.formLabel input {
  border: solid 1.5px #0a0a0a;
  background: white;
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding: 10px;
}
.formLabel input:focus {
  outline: none;
  background: #0a0a0a10;
}
.formLabel {
  text-align: left;
}
.error {
  font-size: 10px;
  color: red;
}
.submitFormButton {
  border-radius: 8px;
  height: 40px;
  background: #0a0a0a;
  padding: 8px 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
}
.submitFormButton:hover {
  background: #0a0a0a73;
}
.submitFormButton:focus {
  background: #0a0a0a73;
  outline: none;
}
